{
  "presets": ["next/babel"],
  "plugins": [
    [
      "import", {
        "libraryName": "antd",
        "style": true
      },
    ],
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "test": "./test",
        "reducers": "./redux/reducers",
        "actions" : "./redux/actions",
        "utils":"./utils",
        "components":"./components",
        "layouts":"./layouts",
        "config":"./config"
      }
    }]
  ]
}

